.container-fluid{
	padding: 0px;
	margin: 0px;
}

.row{
	margin: 0px;
}

.white{
	color: #fff;
}

/*Header*/

header {
	width:100%;
	background-color: #FF0165;
}
 
header nav {
	margin:20px 0px;
}
 
header nav ul {
	list-style:none;
	padding-left: 0px;
}
 
header nav ul li {
	float:left;
}
 
header nav ul li a {
	color:#fff;
	padding: 10px;
	display:block;
	text-decoration:none!important;
	font-size: 10px;
}

header nav ul li a:hover {
	color: #fff;
	font-weight: bold;
}

.logo{
	width: 80px;
	margin-left: 10%;
}

.social{
	font-size: 15px;
}

.contact-top{
	width: 75px;
	font-size: 10px;
	color: #FF0165;
	font-weight: bold;
}

.contact-top:hover{
	background-color: #fff;
	color: #FF0165;
	font-weight: bold;
}

.search-top{
	background-color: transparent;
	border: solid #fff 1px;
	color: #fff;
	margin-left: 1%;
}

.bold{
	font-weight: bold;
}

/*Section empowered*/

.empowered{
	background-color: #FF0165;
}

.plant{
	width: 400px;
}

.title-empowered{
	margin-top: 30%;
}

.action-pink{
	width: 120px;
	height: 40px;
	font-size: 11px;
	color: #fff;
	background-color: #FF0165;
	font-weight: bold;
}

.action-pink:hover{
	width: 120px;
	height: 40px;
	font-size: 10px;
	color: #FF0165;
	font-weight: bold;
}

/*Section banner*/
.banners{
	background-color: #FF0165;
}

.banner{
	width: 19%;
	height: 70px;
	float: left;
	background-color: #E31B5A;
	margin-right: 1px;
	font-size: 11px;
	font-weight: bold;
	padding: 20px; 
	color: #fff;
}

.banner:hover{
	background-color: #CB1A55;
}

/*Section clients*/

.client-gray{
	background-color: #e2e0e0;
}

.clients{
	text-align: center;
	font-weight: bold;
	padding: 10px; 
}

.client{
	font-size: 25px;
	text-align: center;
	height: 20px;
	color: #C6C6C6;
}

.client-logo{
	height: 80px;
}

/*Section recent-work*/

.recent{
	margin-top: 100px;
	text-align: center;
}

.lorem{
	text-align: center;
	color: #afacac;
	margin-top: 3%;
	margin-bottom: 5%;
}

.work-type{
	width: 20%;
	height: 30px;
	float: left;
	background-color: #fff;
	font-size: 11px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	color: #FF0165;
	text-align: center;
	border: 1px solid #afacac;
}

.work-type:hover{
	background-color: #FF0165;
	color: #FFF;
}

.work{
	height: 100px;
}